<% if(index != 0) { %>
    <button class="quote-button">Move Up <ion-icon name="arrow-up-outline"></ion-icon></button>
<% } %>

<% if(index != lastIndex) { %>
    <button class="quote-button">Move Down <ion-icon name="arrow-down-outline"></ion-icon></button>
<% } %>

<button class="quote-button">Delete Content <ion-icon name="trash-outline"></ion-icon></button>