<div class="content">
    <div></div>
    <div>
        <h1>Over 25 Years of Experience</h1>
    <p>For over 25 years, we've specialized in building beautiful, long lasting decks using TimberTech® advanced PVC to stand up to the weather in Spokane. We help you with every aspect of the process, from designing your deck to installing it. Find out why we're the best deck builders in spokane!</p>
    <br><br>
    </div>
    <div></div>
</div>


    <div class="grid-3-flex" style="background: url('/img/ui/wood-white.jpg')">
        
        <div style="text-align: center;">
            <br>
            <h1>Over</h1>
            <h2 style="font-weight: 700;"><div class="number-animate reveal" data-val="1650">0</div></h2>
            <h2>Decks Built</h2>
            <br>
        </div>
        <div style="text-align: center;">
            <br>
            <h1>Serving For Over</h1>
            <h2 style="font-weight: 700;"><div class="number-animate reveal" data-val="25">0</div></h2>
            <h2>Years</h2>
            <br>
        </div>
        <div style="text-align: center;">
            <br>
            <h1>Building More Than</h1>
            <h2 style="font-weight: 700;"><div class="number-animate reveal" data-val="475000">0</div></h2>
            <h2>Square Ft of Deck</h2>
            <br>
        </div>
        
    </div>

    <br>
        <div class="content" >
            <div></div>
            
            <div>
                <img src="/img/deck-stuff/ttlogo.jpg" style="width:25%; margin-top: 24px;" title="Dynamic Decks Inc Logo." alt="Azek logo'">
                <h1>Built with Azek TimberTech®</h1>
                <br>
                <p>
                    We stand out by offering only the best line of decking for our customers. By using Azek TimberTech®, we're able to build long lasting, durable, and weather resistant decks. Azek TimberTech®'s vintage decking is up 30% cooler than other decking material, keeping you cooler in hotter weather. We also aim for sustainability, using decking material containing recycled material! Read more about Azek TimberTech® <a href="https://www.timbertech.com/products/decking-overview/pvc/" target="_blank" >here</a>.
                </p>
                <br>
                <div class="grid-2-flex">
                    <div>
                        <h2>Durable Boards</h2>
                        <br>
                        <p style="padding: 4px;">
                            When you choose a TimberTech® Advanced PVC deck, you'll get boards without wood fibers, leading to a lack of rotting in the deck boards. These boards are made out of PVC, letting the boards be cooler to the touch than wood deck boards.*
                            <br>
                            <br>
                            <small><i>*Although TimberTech® Advanced PVC decking is cooler to the touch than many other deck board products, all decking products will get hot in the sun. Additionally, the darker the decking color, the hotter it will feel. For hotter climates, consider choosing a lighter color.</i></small>
                        </p>
                    </div>
                    <div>
                        <div class="grid-2">

                                <div class="cont">
                                    <img src="/img/deck-stuff/coastline.jpg" width="100%;" alt="Image of a splotch depicting Coastline from Azek TimberTech®'s line of Vintage Advanced PVC products." title="Coastline">
                                    <div class="in-image">
                                        Coastline
                                    </div>
                                </div>
                                <div class="cont">
                                    <img src="/img/deck-stuff/dark-hickory.jpg" width="100%;" alt="Image of a splotch depicting Dark Hickory from Azek TimberTech®'s line of Vintage Advanced PVC products." title="Dark Hickory">
                                    <div class="in-image">
                                        Dark Hickory
                                    </div>
                                </div>
                                <div class="cont">
                                    <img src="/img/deck-stuff/mahogany.jpg" width="100%;" alt="Image of a splotch depicting Mahogany from Azek TimberTech®'s line of Vintage Advanced PVC products." title="Mahogany">
                                    <div class="in-image">
                                        Mahogany
                                    </div>
                                </div>
                                <div class="cont">
                                    <img src="/img/deck-stuff/cypress.jpg" width="100%;" alt="Image of a splotch depicting Cypress from Azek TimberTech®'s line of Vintage Advanced PVC products." title="Cyrpess">
                                    <div class="in-image">
                                        Cypress
                                    </div>
                                </div>
                                <div class="cont">
                                    <img src="/img/deck-stuff/english-walnut.jpg" width="100%;" alt="Image of a splotch depicting English Walnut® from Azek TimberTech®'s line of Vintage Advanced PVC products." title="English Walnut®">
                                    <div class="in-image">
                                        English Walnut®
                                    </div>
                                </div>
                                <div class="cont">
                                    <img src="/img/deck-stuff/weathered-teak.jpg" width="100%;" alt="Image of a splotch depicting Weathered Teak from Azek TimberTech®'s line of Vintage Advanced PVC products." title="Weathered Teak">
                                    <div class="in-image">
                                        Weathered Teak
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="grid-3">
                    <div>
                        <img src="/img/deck-stuff/azek-cool.png" width="100%;">
                    </div>
                    <div>
                        <img src="/img/deck-stuff/azek-fire.png" width="100%;">
                    </div>
                    <div>
                        <img src="/img/deck-stuff/azek-recycled.png" width="100%;">
                    </div>
                </div>
        </div>

            <div></div>
        </div>
        <br>

    



<div class="video-wrapper" style="background: url('/img/deck-stuff/lake-bckg.jpg')">
    <div class="headerVid">
        <h1 class="title">Enhance Your View</h1>
        <div class="titleTag">Enjoy your custom TimberTech® PVC deck!</div>
        <button class="quote-button" onclick="window.location.href='/contact';"><b>REQUEST A FREE QUOTE</b></button>
    </div>
  </div>