<div class="footer">
    <div></div>


    <div>
        <img src="/img/icons/logo.png" alt="Dynamic Decks logo" style="width: 100%;">
        <br>
        <br>
        <p>
            Family owned and operated, we have 25 years of experience building decks for Spokane families. Ask about our 1-year workmanship warranty!
        </p>
    </div>
    <div>
        <br>
        <b>Dynamic Decks</b>
        <br>
        <br>
        1720 E Houston Ave, Spokane, WA 99217
        <br>
        Phone: <a href="tel:5092513735">(509) 251-3735</a>
        <br>
        <button class="quote-button" onclick="window.location.href='/career';"><b>CAREER OPPORTUNITIES</b></button>
    </div>
    <div>

    </div>

    <div></div>
</div>
<br>

<hr>

<br>

<div class="footer">
    <div></div>

    <div>
        <a href="/">© <%= new Date().getFullYear() %> Dynamic Decks</a>
    </div>

    <div></div>

    <div style="text-align: right;">
        <a href="/request">Admin Console</a>
    </div>

</div>
<br>