<div class="sticky-box">      
    <div class="phone-number">
        <span class="inner-phone">
            <% if(user) { %>
            <span style="color: white; margin-right: 8px">Admin tools: </span>
            <a href="/logout" style="margin-right: 8px;">Logout</a>
            |
            <a href="/console" style="margin-right: 8px;">Console</a>
            |
            <% } %>
            <a class="link"time-box href="https://www.instagram.com/dynamicdecks/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
            <a class="link"time-box href="https://www.facebook.com/dynamicdeck" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
            <a class="link"time-box href="https://www.youtube.com/@DynamicDecks" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
            <a class="link"time-box href="https://www.pinterest.com/DynamicDecks/" target="_blank"><ion-icon name="logo-pinterest"></ion-icon></a>
            <a href="tel:15094643325">(509) 464-3325</a><br>
        </span>
    </div>
</div>