<html lang="en">
<head>
    
    <%- include("includes/head") %>
    <title>Dynamic Decks, Inc</title>
</head>
<%- include("includes/sticky") %>
<header>
    <%- include("includes/header") %>
</header>
<body>
    <main>
        <div class="content">
            <div></div>

            <div>
                <br>
                <h1 style="text-align: center;">Thank You!</h1>
                <br>
                <p>We'll get back to you as soon as possible!</p>
                <br>
            </div>

            <div></div>
        </div>
    </main>
</body>
<footer>
    <%- include("includes/footer") %>
</footer>
</html>