<html lang="en">
<head>
    
    <%- include("includes/head") %>
    <title>Dynamic Decks, Inc</title>
</head>
<%- include("includes/sticky") %>
<header>
    
    <%- include("includes/header") %>
</header>
<body>
    <main>
        <div class="content">
            <div></div>

            <div>
                <br>
                <h1>Check your email</h1>
                <br>
                <p>Check your email for the login link</p>
                <br>
            </div>

            <div></div>
        </div>
    </main>        
</body>
<footer>
    <%- include("includes/footer") %>
</footer>
</html>