<html lang="en">
<head>
    
    <%- include("includes/head") %>
    <title>Dynamic Decks, Inc</title>
</head>
<%- include("includes/sticky") %>
<header>
    <%- include("includes/header") %>
</header>
<body>
    <main>
        <div class="content">
            <div></div>

            <div>
                <br>
                <h1>Privacy Policy</h1>
                <br>
                <p>At Dynamic Decks privacy and personal information is important. Dynamic Decks will never sell customer information to any party. All information collected by Dynamic Decks is done so to properly execute quality service to customers. Dynamic Decks will collect customer names, emails, addresses, and phone numbers as entered in the Contact Us page for us to properly inquire about projects. The information submitted on the Contact Us page is sent to Formspree and the emails of the management team at Dynamic Decks to contact customers. Information may also be stored in Jobber for Dynamic Decks to easily access emails and phone numbers to meet customer's needs. Formspree has their own privacy policy <a href="https://formspree.io/legal/privacy-policy/">here</a>. Jobber has their data security information <a href="https://www.getjobber.com/security/">here</a>. If you have questions about our privacy policy, please call us at <a href="tel:15094643325">509-464-3325</a> or submit a form on our <a href="https://dynamicdecksinc.com/contact.html">Contact Us page</a>.</p>
                <br>
            </div>

            <div></div>
        </div>
    </main>
</body>
<footer>
    <%- include("includes/footer") %>
</footer>
</html>