<html lang="en">
<head>
    
    <%- include("includes/head") %>
    <title>Dynamic Decks, Inc</title>
</head>
<%- include("includes/sticky") %>
<header>
    
    <%- include("includes/header") %>
</header>
<body>
    <main>
        <br>
        <div class="content">
            <div></div>

            <div>
                <div style="text-align: center;">
                    <h1 >Request Login Link</h1>
                    <br>
                    <button class="quote-button" onclick="window.location.href='/login/dynamic';"><b>Dynamic Decks Login</b></button>
                    <br>
                    <button class="quote-button" onclick="window.location.href='/login/cpm';"><b>Chris Price Music Login</b></button>
                    <br>
                </div>
                <br>
                <p>This website is managed by Chris Price Music. For more information, please email <a href="mailto:chris@chrispricemusic.net">chris@chrispricemusic.net</a></p>

            </div>

            <div></div>
        </div>
        <br>
    </main>
</body>
<footer>
    <%- include("includes/footer") %>
</footer>
</html>